p {
    font-family: Lato;
  }

agm-map {
  height: 500px;
}

.title {
  font-weight: bold;
  color: #5961a0;
  margin: 13px 0px;
}

.container {
  margin-bottom: 100px;
}

.mat-expansion-panel {
  margin-bottom: 10px;
}

.accordion {
  margin-bottom: 30px;
}