<div class="header">
  <div class="row">
    <div class="col">
      <button type="button" mat-flat-button color="primary" (click)="openModal()">
        <i class="material-icons"> group_add </i> Adicionar dispositivo
      </button>
    </div>
    <div class="col filter">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="srmaCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dispositivo</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.srmaCode }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customSrmaCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a mat-icon-button color="primary" focusable="false" [routerLink]='["/tracking", element.srmaCode]'>
          <i class="material-icons"> where_to_vote </i>
        </a>
        <button mat-icon-button color="primary" focusable="false" (click)="openConfirmDialog(element)">
          <i class="material-icons"> delete_forever </i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
