<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModalForm()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="deviceForm" [formGroup]="deviceForm" (ngSubmit)="save()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <mat-form-field class="input-full-width">
            <input required type="text" matInput #saferId formControlName="saferId" placeholder="Código de ativação">
            <mat-error *ngIf="f.saferId.touched && f.saferId.errors" class="invalid-feedback">
              <span *ngIf="f.saferId.errors.required"> {{ formErrors.saferId.required }} </span>
              <span *ngIf="f.saferId.errors.maxlength"> {{ formErrors.saferId.maxlength }} </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <mat-form-field class="input-full-width">
            <input type="text" matInput #description formControlName="description" placeholder="Descrição">
            <mat-error *ngIf="f.description.touched && f.description.errors" class="invalid-feedback">
              <span *ngIf="f.description.errors.maxlength"> {{ formErrors.description.maxlength }} </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <button type="submit" mat-stroked-button color="primary" class="float-right" [disabled]="deviceForm.invalid">
            <i class="material-icons"> save </i> {{ buttonLabel }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>