<nav class="navbar navbar-dark navbar-expand-md justify-content-center">
  <div class="container">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">
      <img [src]="logo" id="logo" class="img-fluid" alt="Logo SAFER">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" [ngClass]="{ 'show': navbarOpen }" id="collapsingNavbar">
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Meu Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/device">Dispositivos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" href="#">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>